@import './src/variables';

%text-style {
  letter-spacing: 0.04em;
  color: #000000;
}

.list {
  width: 350px;
  height: 250px;
  background: $white;
  border-radius: 24px;
  padding: 32px;
  box-sizing: border-box;
  margin: 20px;
}

.category {
  font-size: 16px;
  line-height: 24px;
  @extend %text-style;
  opacity: 0.5;
  margin: 8px 0;
}

.title {
  font-size: 40px;
  line-height: 48px;
  @extend %text-style;
  margin: 8px 0;
  text-transform: capitalize;
}

.currencySymbol {
  position: relative;
  top: -20px;
  font-size: 30px;
  line-height: 35px;
  @extend %text-style;
}

.price {
  font-size: 60px;
  line-height: 72px;
  @extend %text-style;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
