@import './src/variables';

.button {
  height: 56px;
  box-sizing: border-box;
  border-radius: 16px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  transition: 0.3s ease-in-out;
}

.secondary {
  color: $main-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.secondary:hover {
  background: $main-color;
  color: $white;
}

.primary {
  color: $white;
  background: $main-color;
  border: none;
}

.large {
  width: 288px;
}

.medium {
  padding: 0 3rem;
}

.small {
  padding: 0 1rem;
}

.btn-order button::after {
  content: '\279C';
  position: relative;
  opacity: 0;
  left: -5px;
  transition: 0.3s;
}

.btn-order button:hover::after {
  left: 6px;
  opacity: 1;
}
.btn-order button {
  padding-left: 16px;
}
